<h1>User#index</h1>
<p>Find me in app/views/User/index.html.erb</p>
<%= link_to 'Back to Homepage', controller: 'welcome' %>

<% if @login_stauts %>
 <%= link_to 'Login', login_path %> 
 <%= link_to 'Register', new_user_path %>
<% else %>
  <%= link_to 'Logout', logout_path %>
<% end %>
<h1><%#= @login_stauts %> </h1>

<h2>Listing users</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Password</th>
    <th colspan="3"></th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.password %></td>   
    </tr>
  <% end %>
</table>
